<app-header></app-header>
<br>
<div>
    <h2 class="contato">Entre em Contato conosco</h2>
    <h3 class="contato">Quer esclarecer algo? Entre em contato agora mesmo!</h3>
    <form id="form" class="form" method="POST" action="index.html">
        <label for="fname">Nome:</label><br>
        <input type="text" placeholder="Seu nome" name="uname" required><br>
        <label for="lname">E-mail:</label><br>
        <input type="email" placeholder="name@example.com" name="uemail" required><br>
        <label for="lname">Descreva o seu problema:</label><br>
        <input type="text" placeholder="Escreva seu problema" name="uprob" required><br><br>
        <input type="submit" value="Enviar" onclick="clickContact()"><br>
    </form>
</div>
<br>
<br>
<br>
<br>
<br>