<header>
    <div id="Cabecalho">
        <img width="50px" height="50px" src="assets/images/Logo.png" alt=""/>
        <div id="menuLista">
            <nav id="menuItens">
                <ul>
                    <li>
                        <a routerLink="">Página Inicial</a>
                    </li>
                    <li>
                        <a routerLink="login">Login</a>
                    </li>
                    <li>
                        <a routerLink="cadastro">Cadastro</a>
                    </li>
                </ul>
            </nav>
            <div id="Search">
                <input type="text">
            </div>
        </div>
        <svg  class="menu_bar" onclick="showMenu()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
    </div>
</header>