/* -- DESKTOP -- */
@media screen and (min-width: 769px) {
    header{
        background-color: #262626;
        max-width: 1440px;
        width: 100%;
        height: 80px;
        margin: 0 auto;
    }

    #Cabecalho{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }

    .menu_bar{
        display: none;
    }

    #menuLista{
        display: flex;
        justify-content: space-around;
    }

    #menuLista ul li{
        display: inline-block;
        margin-right: 15px;
        font-weight: 300;
    }

    #menuLista ul li:hover{
        scale: 1.1;
    }

    #menuLista ul li a{
        text-decoration: none;
        color: #F2F2F2;
    }

    #Search{
        display: inline-block;
    }
}

/* -- TABLET -- */
@media screen and (max-width: 768px) {
    header{
        background-color: #262626;
        max-width: 768px;
        width: 100%;
        height: 80px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    #Cabecalho{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 768px;
        width: 100%;
        margin: auto;
        position: relative;
        padding: 0px 40px;
    }
    #Cabecalho img{
        width: 50px;
        height: 50px;
    }

    .menu_bar{
        width: 50px;
        height: 50px;
        fill: #F2F2F2;
    }
    .menu_bar:hover{
        fill: #D9D9D9;
        cursor: pointer;
    }

    #menuLista {
        background-color: #262626;
        display: none;
        max-width: 264px;
        width: 100%;
        height: 250px;
        padding-top: 30px;
        position: absolute;
        right: 0;
        top: 60px
    }
    #menuItens ul{
        list-style: none;
    }
    #menuItens ul li{
        margin-bottom: 15px;
    }
    #menuItens ul li a{
        color: #F2F2F2;
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
    }
    #Search{
        display: none;
    }
}