<app-header></app-header>
<br>
<div class="userlogin">
    <h2>Sua Conta</h2>
    <h3>Crie sua Conta</h3>
    <form id="form" class="form" method="POST" action="index.html">
        <label for="uname">Nome:</label><br>
        <input type="text" placeholder="Seu nome" name="unamelogin" required><br>
        <label for="uemail">E-mail:</label><br>
        <input type="email" placeholder="name@example.com" name="uemaillogin" required><br>
        <label for="upassword">Senha:</label><br>
        <input type="password" placeholder="Digite uma senha" name="upassword" required><br><br>
        <input type="submit" value="Criar Conta" onclick="clickRegister()"><br>
        <br>
    </form>
    <p><a class="back" routerLink="">Voltar</a></p>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>