@media screen and (min-width: 769px) {
    #Principal{
        max-width: 1240px;
        width: 100%;
        height: 450px;
        background-color: #262626;
        margin: 0 auto;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #Conteudo{
        max-width: 500px;
        width: 100%;
        height: 395px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #Conteudo h2{
        font-size: 40px;
        color: #F2F2F2;
        text-transform: uppercase;
        text-align: center;
    }

    #Conteudo p{
        max-width: 470px;
        width: 100%;
        height: 200px;
        font-size: 24px;
        font-weight: 300;
        color: #F2F2F2;
        text-align: justify;
    }

    #Conteudo button{
        max-width: 200px;
        width: 100%;
        height: 50px;
        background-color: #F24162;
        border: none;
        border-radius: 5px;
        color: #F2F2F2;
        font-size: 26px;
        text-transform: uppercase;
    }
    #Conteudo button:hover {
        cursor: pointer;
        color:#D9D9D9;
        background-color: #B33048;
    }

    .CButton{
        display: none;
    }

    #Cards{
        margin: 0 auto;
        padding: 30px 50px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .Card{
        max-width: 350px;
        width: 100%;
        height: 450px;
        background-color: #262626;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .Card p{
        max-width: 280px;
        width: 100%;
        height: 140px;
        color: #F2F2F2;
        font-size: 20px;
        font-weight: 100;
        text-align: justify;
    }

    .Card button{
        max-width: 150px;
        width: 100%;
        height: 50px;
        background-color: #F24162;
        color: #F2F2F2;
        font-size: 20px;
        text-transform: uppercase;
        border: none;
        border-radius: 5px;
    }
    .Card button:hover {
        cursor: pointer;
        color:#D9D9D9;
        background-color: #B33048;
    }

    #Text{
        max-width: 1240px;
        width: 100%;
        height: 230px;
        background-color: #262626;
        margin: 40px auto 0 auto;
        border-radius: 10px;
        color: #F2F2F2;

    }

    #Fundo_Image{
        max-width: 1240px;
        width: 100%;
        max-height: 230px;
        height: 100%;
        border-radius: 10px;
        opacity: 0.1;
        position: absolute;
    }

    #Fundo{
        max-width: 1240px;
        width: 100%;
        height: 230px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #Fundo h2{
        font-size: 40px;
        text-transform: uppercase;
        margin: 15px 0px;
    }

    #Fundo p{
        max-width: 1140px;
        width: 100%;
        height: 130px;
        font-size: 24px;
        font-weight: 100;
        text-align: justify;
    }
}

/* -- TABLET -- */

@media screen and (max-width: 768px) {
    #Principal{
        max-width: 690px;
        width: 100%;
        height: 260px;
        background-color: #262626;
        margin: 0 auto;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
    }
    #Principal img {
        width: 360px;
        height: 250px;
        margin-left: 10px;
    }

    #Conteudo{
        max-width: 500px;
        width: 100%;
        height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    #Conteudo h2{
        font-size: 22px;
        color: #F2F2F2;
        text-transform: uppercase;
        text-align: center;
    }
    
    #Conteudo p{
        max-width: 280px;
        width: 100%;
        height: 170px;
        font-size: 16px;
        font-weight: 300;
        color: #F2F2F2;
        text-align: justify;
    }
    
    #Conteudo button{
        max-width: 150px;
        width: 100%;
        height: 30px;
        background-color: #F24162;
        border: none;
        border-radius: 5px;
        color: #F2F2F2;
        font-size: 20px;
        text-transform: uppercase;
    }
    #Conteudo button:hover {
        cursor: pointer;
        color:#D9D9D9;
        background-color: #B33048;
    }

    #Carrosel{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 768px;
        width: 100%;      
       padding: 0px 10px;  
    }
    .CButton{
        height: 30px;
        width: 30px;
        border: none;
        border-radius: 15px;
        background-color: #262626;
        color: #F2F2F2;
    }
    .CButton:hover{
        background-color: #B33048;
    }
    #Cards{
        margin: 0 auto;
        height: 480px;
        overflow: hidden;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .Card{
        max-width: 300px;
        width: 100%;
        height: 450px;
        background-color: #262626;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        margin: 10px 0px;
    }
    
    .Card p{
        max-width: 280px;
        width: 100%;
        height: 120px;
        color: #F2F2F2;
        font-size: 16px;
        font-weight: 100;
        text-align: justify;
    }
    
    .Card button{
        max-width: 150px;
        width: 100%;
        height: 35px;
        background-color: #F24162;
        color: #F2F2F2;
        font-size: 16px;
        text-transform: uppercase;
        border: none;
        border-radius: 5px;
    }
    .Card button:hover {
        cursor: pointer;
        color:#D9D9D9;
        background-color: #B33048;
    }

    #Text{
        max-width: 768px;
        width: 95%;
        height: 200px;
        background-color: #262626;
        margin: 10px auto 0 auto;
        border-radius: 10px;
        color: #F2F2F2;    
    }
    
    #Fundo_Image{
        max-width: 768px;
        width: 95%;
        max-height: 200px;
        height: 100%;
        border-radius: 10px;
        opacity: 0.1;
        position: absolute;
    }
    
    #Fundo{
        max-width: 768px;
        width: 95%;
        height: 200px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #Fundo h2{
        font-size: 25px;
        text-transform: uppercase;
        margin: 10px 0px;
    }
    
    #Fundo p{
        max-width: 768px;
        width: 95%;
        height: 130px;
        font-size: 18px;
        font-weight: 100;
        text-align: justify;
    }
}