/* -- DESKTOP -- */
@media screen and (min-width: 769px) {
    #form_page{
        display: flex;
        justify-content: center;

    }

    #login_div{
        max-width: 1240px;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        
    }
    #login_form{
        max-width: 600px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #262626;
        padding: 50px;
        border-radius: 10px;
        color: #F2F2F2;

    }

    #login_form h2{
        text-align: center;
        text-transform: uppercase;
        font-size: 40px;
        margin-bottom: 5%;
    }
    .form_label{
        text-transform: uppercase;
        margin-bottom: 1%;
    }
    .form_input{
        width: 80%;
        margin-bottom: 5%;
        background: none;
        border: none;
        border-bottom: 2px solid #F2F2F2;
        color: #F2F2F2;
        text-align: center;
        font-size: 16px;
    }
    .form_button{
        max-width: 150px;
        width: 100%;
        max-height: 50px;
        height: 100%;
        background-color: #F24162;
        color: #F2F2F2;
        font-size: 20px;
        text-transform: uppercase;
        border: none;
        border-radius: 5px;
        margin-top: 3%;
    }
    .form_button:hover{
        cursor: pointer;
        color:#D9D9D9;
        background-color: #B33048;
    }
}

/* -- TABLET -- */
@media screen and (max-width: 768px) {
    #form_page{
        display: flex;
        justify-content: center;
    
    }
    
    #login_div{
        max-width: 768px;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        
    }
    #login_form{
        max-width: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #262626;
        padding: 50px;
        border-radius: 10px;
        color: #F2F2F2;
    
    }
    
    #login_form h2{
        text-align: center;
        text-transform: uppercase;
        font-size: 40px;
        margin-bottom: 5%;
    }
    .form_label{
        text-transform: uppercase;
        margin-bottom: 1%;
    }
    .form_input{
        width: 80%;
        margin-bottom: 5%;
        background: none;
        border: none;
        border-bottom: 2px solid #F2F2F2;
        color: #F2F2F2;
        text-align: center;
        font-size: 16px;
    }
    .form_button{
        max-width: 150px;
        width: 100%;
        max-height: 50px;
        height: 100%;
        background-color: #F24162;
        color: #F2F2F2;
        font-size: 20px;
        text-transform: uppercase;
        border: none;
        border-radius: 5px;
        margin-top: 3%;
    }
    .form_button:hover{
        cursor: pointer;
        color:#D9D9D9;
        background-color: #B33048;
    }
}