<app-header></app-header>
<br>
<div class="nossosprods">
    <h2>Nossos Produtos</h2>
    <h3>Busque por milhares de produtos de qualidade em nossa loja!</h3>
    <form class="form">
        <input type="text" placeholder="Pesquisar.." required> <input type="submit" value="Ir"><br>
    </form>
</div>
<section class="setores">
    <div class="listaprodutos container">
        <h2>Departamento Gamer</h2>
        <div id="secao_produtos" class="secao_cards">

        </div>
    </div>
</section>
<br>
<br>
<br>