/* -- DESKTOP --*/
@media screen and (min-width: 769px) {
    footer{
        background-color: #262626;
        max-width: 1440px;
        width: 100%;
        height: 80px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    #Links{
        max-width: 1440px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    
    }
    .Link a{
        text-decoration: none;
        font-size: 20px;
        color: #F2F2F2;
        display: flex;
        flex-direction: column;
    }
}

/* -- TABLET -- */
@media screen and (max-width: 768px) {
    footer{
        background-color: #262626;
        max-width: 1440px;
        width: 100%;
        height: 80px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    #Links{
        max-width: 1440px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    
    }
    .Link a{
        text-decoration: none;
        font-size: 20px;
        color: #F2F2F2;
        display: flex;
        flex-direction: column;
    }
}